---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

<style>
body {margin: 0;background-color: powderblue;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

h1   {color: #333;
	    font-family: verdana;
      font-size: 200%;
  		position: absolute;
    	left: 150px;
    	top: 80px;}

h2   {color: #333;
      font-family: verdana;
      font-size: 120%;
      position: absolute;
      left: 175px;
      top: 150px;}

p    {color: red;
      font-family: courier;
      font-size: 100%;
  	   border: 1px solid red;
  	   padding: 20px;
  	   margin: 150px;}
</style>


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
